/* *{
    box-sizing: border-box;
}
body{
    margin:0px;
    font-family: "Helvetica Neue",Arial,sans-serif;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
} */

/* .table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    box-sizing: border-box;
    border-top-color: #212529;
} */

.container{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}
label{
    display: none;
}
.my-4{
    margin-top: 4%;
    margin-bottom: 4%;
}
.form-inline{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    vertical-align: middle;
}
.col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
 }
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.mr-2{
    margin-right: .5rem!important;
}
.form-control{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
input{
  overflow: visible;
}
.btn{
    cursor: pointer;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
} 
 */


.bg-purple{
    background-color: #6a0dad;
}
.text-white{
    color: white;
    font-size:1.75rem;
}
/* .navbar-lg{
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar a{
    text-decoration: none;
    font-size: 1.75rem;
} */
.table{
 table-layout: fixed;
}
td{
    word-wrap:break-word;
}